body {
	background-image: url("../images/200_s.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#animal-form {
    color: #fff;
	font-size: 30px;
}

#addAnimal {
	color: #fff;
    font-size: 30px;
    background-color: #75a557;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
}

form {
  
	text-align: right;
	margin-right: 20px;
	margin-top: -45px;
}

#animal-input {
    width: 200px;
    height: 30px;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    margin-bottom: 15px;
    font-size: 20px;


}

.btn {
 	
    font-size: 30px;
    background-color: #75a557;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    color: #fff;
    margin: 5px;

}

.gif {
   width: 400px;
   height: 400px;
   margin: 5px;
}
